.currentColorScheme {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    pointer-events: none;
}

.active {
    display: flex;
    flex-direction: column;
}

.button-active {
    color: white;
}

div[className="dropdown-container"] > a {
    padding: 8px;
}

div[className="dropdown-container"] > a:hover {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.button:hover {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.button {
    padding-inline: 10px !important;
    padding-block: 4px !important;
}

button[name="day"]:hover{
    background-color:#1f2024;
    font-weight: bold;
}

